# App
NEXT_PUBLIC_APP_NAME=ArenaBook
NEXT_PUBLIC_APP_URL=http://localhost:3000

# Database adapter: google_sheets | postgres
DATABASE_PROVIDER=google_sheets

# Google Sheets
GOOGLE_SHEETS_SPREADSHEET_ID=
GOOGLE_SHEETS_CLIENT_EMAIL=
GOOGLE_SHEETS_PRIVATE_KEY=

# PostgreSQL / Supabase later
DATABASE_URL=

# Notification later
EMAIL_FROM=
RESEND_API_KEY=
WEB_PUSH_PUBLIC_KEY=
WEB_PUSH_PRIVATE_KEY=
